*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-logo{
    margin: 15px;
}

.logo{
    vertical-align: middle;
}

.titolo{
    display: inline;
}

.main{
    background-color: rgb(205, 207, 214);
    padding: 50px;
}

.main-container{
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
    border-radius: 10px;
}

.header-button{
    height: 60px;
    padding: 15px 50px;
}

.button-task{
    background-color: rgb(105, 157, 234);
    color:white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.button-section{
    background-color: white;
    color: gray;
    padding: 5px 10px;
    border-color: rgb(205, 207, 214);
    border-radius: 10px;
}

.list-container{
    margin: 20px 50px;
}

.lista{
    list-style-type: none;
}

li{
    padding: 5px;
}


.check{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

.cross{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

.editorial{
    font-size: 10px;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.q1goals{
    font-size: 10px;
    background-color: violet;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.recruting{
    font-size: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.mobile{
    font-size: 10px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.website{
    font-size: 10px;
    background-color: pink;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.sales{
    font-size: 10px;
    background-color: yellowgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}