*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-logo{
    margin: 15px;
}

.logo{
    vertical-align: middle;
}

.titolo{
    display: inline;
}

.main{
    background-color: gray;
}

.main-container{
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
}

.header-button{
    height: 60px;
    padding: 15px 50px;
}

.button-task{
    background-color: rgb(105, 157, 234);
    color:white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button-section{
    background-color: white;
    padding: 10px;
    border-color: gray;
    border-radius: 10px;
}

.list-container{
    margin: 20px;
}

.lista{
    list-style-type: none;
}

li{
    padding: 5px;
}


.check{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
}

.cross{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
}

.editorial{
    font-size: 10px;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.q1goals{
    font-size: 10px;
    background-color: violet;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.recruting{
    font-size: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.mobile{
    font-size: 10px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.website{
    font-size: 10px;
    background-color: pink;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.sales{
    font-size: 10px;
    background-color: yellowgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}